<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PepWeb - Pizza at it's best</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav class="navbar has-background-black block">
    <div class="container is-fluid is-justify-content-space-evenly has-text-centered">
      <div class="navbar-item is-size-5">
        <a href="/" class="has-text-grey-light">Home</a>
      </div>
      <div class="navbar-item is-size-2">
        <a class="has-text-grey-light">Pep<span class="has-text-danger-dark"><i class="fas fa-pizza-slice"></i></span>Web</a>
      </div>
      <div class="navbar-item is-size-5">
        <a class="has-text-grey-light">Login / Logout</a>
      </div>
    </div>
  </nav>

  <main class="container is-max-desktop">
    {{{ body }}}
  </main>

  <footer class="footer has-background-grey-light">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <span class="title is-4">
            Site Prepared By
          </span>
          <p class="title is-6">Guillermo Mateo</p>
          <p class="title is-6">Jessica Daley</p>
          <p class="title is-6">Antonio Madureira</p>
          <p class="title is-6">Steve Bendrick</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title is-5">Questions or Comments?</p>
          <a href="https://github.com/JessicaLDaley/PepWeb" class="has-text-grey-darker" target="_blank">View our github repository<br/>and leave us a message!</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>