<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PepWeb - Pizza at it's best</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>

  <nav class="navbar has-background-black block">
    <div class="container is-max-widescreen is-justify-content-space-evenly has-text-centered">
      <div class="navbar-item navbar-start nav-section is-size-5">
        <a class="has-text-grey-light">Home</a>
      </div>
      <div class="navbar-item nav-section is-size-3">
        <a class="has-text-grey-light">Pep<span class="has-text-danger-dark"><i class="fas fa-pizza-slice"></i></span>Web</a>
      </div>
      <div class="navbar-item navbar-end nav-section is-size-5">
        <a class="has-text-grey-light">Add post</a>
        <a class="has-text-grey-light ml-2">Login / Logout</a>
      </div>
    </div>
  </nav>

  <main class="container is-max-desktop">
    <!-- template area start -->
    <h2 class="title is-4 is-underlined">Login:</h2>
    <form class="login-form">
      <div class="field title-input">
        <label class="label">Email Address</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" id="email-login">
        </div>
      </div>
      <div class="field title-input">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="text" placeholder="Password" id="password-login">
        </div>
      </div>
      <div class="field mb-6">
        <div class="control">
          <button class="button file-cta">Submit</button>
        </div>
      </div>
    </form>

    <h2 class="title is-4 is-underlined">Register:</h2>
    <form class="signup-form">
      <div class="field title-input">
        <label class="label">Email Address</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" id="email-signup">
        </div>
      </div>
      <div class="field title-input">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="Email" id="username-signup">
        </div>
      </div>
      <div class="field title-input">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="text" placeholder="Password" id="password-signup">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button file-cta">Sign-up</button>
        </div>
      </div>
    </form>
    <!-- template area end -->
  </main>

  <footer class="footer has-background-grey-light">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <span class="title is-4">
            Site Prepared By
          </span>
          <p class="title is-6">Guillermo Mateo</p>
          <p class="title is-6">Jessica Daley</p>
          <p class="title is-6">Antonio Madureira</p>
          <p class="title is-6">Steve Bendrick</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title is-5">Questions or Comments?</p>
          <a href="https://github.com/JessicaLDaley/PepWeb" class="has-text-grey-darker" target="_blank">View our github repository<br/>and leave us a message!</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="./login.js"></script>

</body>
</html>